<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.toyproject.repository.MybatisBoardRepository">
  <resultMap id="boardMap" type="com.board.toyproject.domain.Board">
    <result property="boardId" column="board_id"/>
    <result property="memberId" column="member_id"/>
    <result property="title" column="title"/>
    <result property="regDt" column="reg_dt"/>
    <result property="modDt" column="mod_dt"/>
    <result property="content" column="content"/>
  </resultMap>
  <insert id="saveBoard" useGeneratedKeys="true" keyProperty="boardId">
    insert into board (member_id, title, reg_dt, content, mod_dt)
    values (#{memberId}, #{title}, now(), #{content}, now())
  </insert>
  <select id="findAll" resultType="com.board.toyproject.domain.Board" resultMap="boardMap">
    select board_id, member_id, title, reg_dt, content, mod_dt
    from board
  </select>
  <select id="findBoardByBoardId" resultType="com.board.toyproject.domain.Board"
    resultMap="boardMap">
    select board_id, member_id, title, reg_dt, content, mod_dt
    from board
    where board_id=#{boardId}
  </select>
  <select id="findBoardByMemberId" resultType="com.board.toyproject.domain.Board"
    resultMap="boardMap">
    select board_id, member_id, title, reg_dt, content, mod_dt
    from board
    where member_id like '%${memberId}%'
  </select>
  <select id="findBoardByTitle" resultType="com.board.toyproject.domain.Board" resultMap="boardMap">
    select board_id, member_id, title, reg_dt, content, mod_dt
    from board
    where title like '%${title}%'
  </select>
  <update id="updateBoard">
    UPDATE board
    SET title=coalesce(#{title},title), content=coalesce(#{content},content)
    where board_id = #{boardId}
  </update>
  <delete id="deleteBoard">
    DELETE
    FROM board
    where board_id = #{boardId}
  </delete>
</mapper>
    
    

        
        