<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.toyproject.repository.MybatisBoardRepository">
  <resultMap id="boardMap" type="com.board.toyproject.domain.Board">
    <result property="boardId" column="board_id"/>
    <result property="memberId" column="member_id"/>
    <result property="title" column="title"/>
    <result property="regDt" column="reg_dt"/>
    <result property="modDt" column="mod_dt"/>
    <result property="content" column="content"/>
  </resultMap>
  <insert id="saveBoard" useGeneratedKeys="true" keyProperty="boardId">
    INSERT INTO BOARD (MEMBER_ID, TITLE, REG_DT, CONTENT, MOD_DT)
    VALUES (#{memberId}, #{title}, NOW(), #{content}, NOW())
  </insert>
  <select id="findAll" resultType="com.board.toyproject.domain.Board" resultMap="boardMap">
    SELECT BOARD_ID, MEMBER_ID, TITLE, REG_DT, CONTENT, MOD_DT
    FROM BOARD
  </select>
  <select id="findBoardByBoardId" resultType="com.board.toyproject.domain.Board"
    resultMap="boardMap">
    SELECT BOARD_ID, MEMBER_ID, TITLE, REG_DT, CONTENT, MOD_DT
    FROM BOARD
    WHERE BOARD_ID=#{board_id}
  </select>
  <select id="findBoardByMemberId" resultType="com.board.toyproject.domain.Board"
    resultMap="boardMap">
    SELECT BOARD_ID, MEMBER_ID, TITLE, REG_DT, CONTENT, MOD_DT
    FROM BOARD
    WHERE MEMBER_ID LIKE '%${memberId}%'
  </select>
  <!--<select id="findBoardByTitle" resultType="com.board.toyproject.domain.Board" resultMap="boardMap">
    SELECT BOARD_ID, MEMBER_ID, TITLE, REG_DT, CONTENT, MOD_DT
    FROM BOARD
    WHERE TITLE LIKE '%${title}%'
  </select>-->
  <select id="findBoardBySearchWord" parameterType="com.board.toyproject.domain.RequestDTO" resultType="com.board.toyproject.domain.Board" resultMap="boardMap">
    SELECT BOARD_ID, MEMBER_ID, TITLE, REG_DT, CONTENT, MOD_DT
    FROM BOARD
    WHERE 1=1
    <if test="searchType neq null and searchType neq ''">
      <choose>
        <when test="searchType eq 'TITLE'.toString()">
          <if test="searchContent eq null and searchContent eq '' ">
            AND TITLE LIKE ''
          </if>
          <if test="searchContent neq null and searchContent neq '' ">
            and TITLE LIKE '%${searchContent}%'
          </if>
        </when>
        <when test="searchType eq 'CONTENT'.toString()">
          <if test="searchContent eq null and searchContent eq '' ">
            AND CONTENT LIKE ''
          </if>
          <if test="searchContent neq null and searchContent neq '' ">
            AND CONTENT LIKE '%${searchContent}%'
          </if>
        </when>
      </choose>
    </if>
  </select>
  <update id="updateBoard">
    UPDATE BOARD
    SET TITLE=COALESCE(#{title},TITLE), CONTENT=COALESCE(#{content},CONTENT)
    WHERE BOARD_ID = #{boardId}
  </update>
  <delete id="deleteBoard">
    DELETE
    FROM BOARD
    WHERE BOARD_ID = #{boardId}
  </delete>
</mapper>
    
    

        
        