<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.toyproject.repository.MybatisMemberRepository">

  <resultMap id="memberMap" type="com.board.toyproject.domain.Member">
    <result property="memberId" column="member_id"/>
    <result property="name" column="name"/>
    <result property="phoneNum" column="phone_num"/>
    <result property="regDt" column="reg_dt"/>
  </resultMap>
  <insert id="saveMember">
    INSERT INTO MEMBER (MEMBER_ID, NAME, PHONE_NUM, REG_DT)
    VALUES (#{memberId},#{name},#{phoneNum}, NOW())
  </insert>
  <select id="memberCount"  parameterType="com.board.toyproject.domain.paging.PagingRequestData" resultType="int" >
    SELECT COUNT(MEMBER_ID)
    FROM MEMBER
    <trim prefix="where" prefixOverrides="AND">
      <choose>
        <when test="searchType eq 'MEMBER_ID'.toString()">
          <if test="searchContent eq null and searchContent eq '' ">
            AND MEMBER_ID LIKE ''
          </if>
          <if test="searchContent neq null and searchContent neq '' ">
            AND MEMBER_ID LIKE '%${searchContent}%'
          </if>
        </when>
        <when test="searchType eq 'NAME'.toString()">
          <if test="searchContent eq null and searchContent eq '' ">
            AND NAME LIKE ''
          </if>
          <if test="searchContent neq null and searchContent neq '' ">
            AND NAME LIKE '%${searchContent}%'
          </if>
        </when>
        <when test="searchType eq 'PHONE_NUM'.toString()">
          <if test="searchContent eq null and searchContent eq '' ">
            AND PHONE_NUM LIKE ''
          </if>
          <if test="searchContent neq null and searchContent neq '' ">
            AND PHONE_NUM LIKE '%${searchContent}%'
          </if>
        </when>
      </choose>
    </trim>
  </select>
  <select id="findMemberBySearchWord"  parameterType="com.board.toyproject.domain.paging.PagingRequestData" resultType="com.board.toyproject.domain.Member" resultMap="memberMap">
    SELECT MEMBER_ID, NAME, PHONE_NUM, REG_DT
    FROM MEMBER
    <trim prefix="WHERE" prefixOverrides="AND">
      <choose>
        <when test="searchType eq 'MEMBER_ID'.toString()">
          <if test="searchContent eq null and searchContent eq '' ">
            AND MEMBER_ID LIKE ''
          </if>
          <if test="searchContent neq null and searchContent neq '' ">
            AND MEMBER_ID LIKE '%${searchContent}%'
          </if>
        </when>
        <when test="searchType eq 'NAME'.toString()">
          <if test="searchContent eq null and searchContent eq '' ">
            AND NAME LIKE ''
          </if>
          <if test="searchContent neq null and searchContent neq '' ">
            AND NAME LIKE '%${searchContent}%'
          </if>
        </when>
        <when test="searchType eq 'PHONE_NUM'.toString()">
          <if test="searchContent eq null and searchContent eq '' ">
            AND PHONE_NUM LIKE ''
          </if>
          <if test="searchContent neq null and searchContent neq '' ">
            AND PHONE_NUM LIKE '%${searchContent}%'
          </if>
        </when>
      </choose>
    </trim>
    <trim prefix="ORDER BY">
    <if test="orderBy neq null and orderBy neq ''">
      ${orderBy}
    </if>
    </trim>
    LIMIT #{pagination.limitStart}, #{recordSize}
  </select>
  <select id="findById" resultType="com.board.toyproject.domain.Member" resultMap="memberMap">
    SELECT MEMBER_ID, NAME, PHONE_NUM, REG_DT
    FROM MEMBER
    WHERE MEMBER_ID = #{memberId}
  </select>
<!--  <select id="findByName" parameterType="com.board.toyproject.domain.paging.PagingRequestData" resultType="com.board.toyproject.domain.Member" resultMap="memberMap">
    SELECT MEMBER_ID, NAME, PHONE_NUM, REG_DT
    FROM MEMBER
    WHERE NAME LIKE '%${searchContent}%'
    LIMIT #{pagination.limitStart}, #{recordSize}
  </select>-->
  <update id="updateMember">
    UPDATE MEMBER
    SET NAME=COALESCE(#{name},NAME), PHONE_NUM=COALESCE(#{phoneNum},PHONE_NUM)
    WHERE MEMBER_ID = #{memberId}
  </update>
  <delete id="deleteMember">
    DELETE
    FROM MEMBER
    WHERE MEMBER_ID = #{memberId}
  </delete>


</mapper>




